<footer class="footer flex flex-col h-28  w-full pb-10 pt-5 bg-primary-500 font-normal text-quinary-500 text-sm items-center">
  <p class=" font-semibold">COLFUTURO Fundación para el futuro de Colombia</p>

  <p >
    Si tienes dudas contacta a
    <a class="underline text-color-link" href="mailto:cartera@colfuturo.org">cartera@colfuturo.org</a>
  </p>
  <p >
    Si hay inconsistencias contactar a los Revisores Fiscales Holl & Holl International Ltda
    <a class="underline text-color-link" href="mailto:holl@hollinternational.com">holl@hollinternational.com</a>
  </p>
</footer>
