<header class="header flex flex-row w-full">
  <div class="w-52 h-28 bg-secondary-500 grid place-items-center ">
    <img
      src="../../../../assets/img/Logo.svg"

      alt="Logo Colfuturo"
    />
  </div>
  <div class="ml-6 flex-col basis-3/5">
    <h3 class="text-secondary-500 text-base font-semibold mb-2">
      Paloma Geraldine David Velásquez de la Santísima Trinidad
    </h3>
    <div class="flex flex-row h-16 text-quinary-500 font-normal text-xs">
      <div class="flex flex-col  justify-between mr-8">
        <span> Maestría/Teacher Education and Learning Sciences... </span>
        <span> Universiteit van Amsterdam - Uva </span>
        <span> Amsterdam, Noord-Holland / Holanda</span>
      </div>
      <div class=" flex flex-col justify-between   mr-4 ">
        <span class="w-full">CC</span>
        <span class="w-full">Código</span>
        <span class="w-full">Estado</span>
      </div>
      <div class="flex flex-col   font-semibold justify-between mr-4">
        <span class="text-tertiary  ">1.018.473.865 </span>
        <span class="text-tertiary">201.806.121</span>
        <span class="text-tertiary"
          ><span
            class="mr-[2px] "
          >
            PAEC</span
          ><span class="text-quinary-500 font-normal">(Periodo de Amortización</span></span
        >
      </div>

    </div>
  </div>
  <div class="basis-2/12"></div>
</header>
